*{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 65%;
    margin: 0 auto;
}

.mainP-background{
    background-image: url("img/header-eigen-pagina\ 1920x600.jpg");
    background-size: cover;
    padding-bottom: 210px;
}

.introBlock{
    text-align: center;
    max-height: 200px;

}
.introImg{
    width: 50%;
}

.introText{
font-size: 40px;
text-align: right;
width: 50%;
}

.logo img{
    height: 2.8rem;
    padding: 2em;
}

.Block{
    background-color: #C9DAEA;
    text-align: center;
    border-radius: 15px;
    margin: 1.5rem;
    margin-top: 15px;
    width: 50%;
    height: 15%;
}

.blockCollection{
    display: flex;

}

.Block p{
    margin-top: 15px;
}

.subjects-list ul{
    list-style-type: none;
}

.subjects-list li{
    padding-bottom: 0.2rem;
}

.subjects-list{
    width: 15%;
}

    