*{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 65%;
    margin: 0 auto;
    font-family: sans-serif;
}

.mainP-background{
    background-image: url("img/header-eigen-pagina\ 1920x600.jpg");
    background-size: cover;
    padding-bottom: 210px;
}

.introText{
font-size: 40px;
text-align: right;
width: 50%;
}

.logo img{
    height: 2.8rem;
    padding: 2em;
}

.block{
    background-color: #C9DAEA;
    text-align: center;
    border-radius: 15px 0 15px 0;
    height: 200px;
}

.block.large{
    margin-top: .5rem;
    grid-column: span 2;
    height: auto;
}
.docentBlock{
    display: flex;
    justify-content: center;
}

.blockCollection{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2%;
    margin-top: 2%;
}
.docentInfo{
    display: block;
    padding-left: 1rem;
}

.block p{
    margin-top: 15px;
    padding: 5px;
}

.block h3{
    justify-content: center;
    font-family: 'Heebo', sans-serif;
}

.subjects{
    display: flex;
}
.subject-list ul{
    list-style: none;
    font-weight: bold;
}

.subject-list{
    padding-left: 1rem;
    border-right: 2px black solid;
    width: 25%;
}

.subject-list a{
    text-decoration: none;
}

.subject-list li{
    margin: 8px 0;
    border-bottom: 1px black solid;
    padding-right: 1rem;
}

.subject-list li:last-child{
    border-bottom: none;
}

.mySchedule img{
    width: 95%;
}
.schedule{
    display: flex;
}

#subTxt{
    padding:0 10px 0 10px ;
    width: 70%;
}

.docentImg img{
    height: 20%;
}

.VersnellenTxt{
    text-align: left;
}